<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
{% for channel in channels %}
  {% if channel.url[-4:] == 'm3u8' %}
    <item>
      <title>{{ channel.name }}</title>
      <link>{{ channel.url }}</link>
      <thumbnail></thumbnail>
      <fanart></fanart>
      </item>
  {% else %}
    <item>
      <title>{{ channel.name }}</title>
      <link>plugin://plugin.video.f4mTester/?url={{ channel.url }};streamtype=TSDOWNLOADER&amp;name={{ channel.name }}</link>
      <thumbnail></thumbnail>
      <fanart></fanart>
    </item>
  {% endif %}
{% endfor %}
